Django==1.10.2
Pillow
bs4
BeautifulSoup
django-cors-headers==1.1.0
py2neo==3.1.2
django-bootstrap-form==3.2
html5lib==1.0b8
rdflib==4.2.1
psycopg2==2.6.2
django_tools==0.30.0
requests==2.11.1
pytz==2016.7
django-registration==2.2
configparser==3.5.0
django-simple-captcha==0.5.5
django-debug-toolbar==1.8
django-crontab==0.7.1
#comment to deactivate css minification
csscompressor==0.9.4
django_inlinecss==0.1.2